body, h1, p, form, div, input, label, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 20%;
    transform: translateY(-30%);
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em; /* Space for fixed header */
}
section {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 150%;
}
.sub-container {
    text-align: center;
    /* 가운데 정렬을 위해 부모 요소에서 텍스트 정렬을 설정합니다 */
}
/* 이미지 사이즈 조정 */
.sub-container div a img {
    width: 100px;
    /* 이미지 너비 */
    height: auto;
    /* 높이 자동 조정 */
    margin-left: 20px;
    margin-right: 20px;
}

/* 이미지 간격 조정 */
.sub-container div {
    display: flex;
    justify-content: space-around;
    /* 이미지들을 가운데 정렬하고 간격을 주기 위해 */
    margin-bottom: 20px;
    /* 그리드 아래 여백 */
}

/* 컨테이너 간 간격 조정 */
.sub-container {
    margin-top: 40px;
    /* 컨테이너 위 여백 */
}

/* 입력 창과 버튼 스타일 */
.input-container {
    text-align: center;
    margin-top: 20px;
}

.input-group {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.input-group input[type="text"] {
    width: 70%;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-group .button {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

